<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About- Territory Conquest</title>
    <link rel="stylesheet" href="/css/about.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=MedievalSharp&family=Rye&display=swap" rel="stylesheet">
</head>
<body scroll="no" style="overflow: hidden">
    <div class="music" style="visibility: hidden; z-index: -1; height: 1px;">
        <embed src="/img/Blackbeard.mp3" AutoPlay loop hidden>
      </div>
<div class="about" id="about">
     <div class="about_container">       
     <h1>ABOUT</h1>
     <h2>Do you want to rule the world?</h2>
     <h2>Do you have that craze and passion?</h2>
     <h3>If yes then, you are at the right place. The most exciting journey awaits you.So, what are you waiting for ?Hone your coding skills and get ready to Fight , Conquer ! </h3>
     <button type="button" class="home_button"><a href="/">HOME</a></button>
      </div>
</div>
</body>
</html>



