<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thankyou</title>
    <link rel="stylesheet" href="/css/End-style.css">
</head>
<body>
    <div class="music" style="visibility: hidden; z-index: -1; height: 1px;">
        <embed src="/img/Blackbeard.mp3" AutoPlay loop hidden>
      </div>
    <div class="Mssg">
        <h1>Thankyou for playing!</h1>
        <h1>Hope you Enjoyed the Game.</h1>
   </div>
</body>
</html>