<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home- Territory Conquest</title>
    <link rel="stylesheet" href="/css/homepage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=MedievalSharp&family=Rye&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body >
  <div class="music" style="visibility: hidden; z-index: -1; height: 1px;">
    <embed src="/img/Blackbeard.mp3" AutoPlay loop hidden>
  </div>
    <div class="hero" id="home">
        <div class="hero__container">
          <h1 class="hero__heading"><span>TERRITORY CONQUEST</span></h1>
          <p class="hero__description">Savour the flavour of Code and War</p>
        </div>
        <div class="hero__button">
          <button  class="button" id="login_button"><a href="/register">START GAME</a></a></button>
          <button  class="button" id="about_button"><a href="/about">ABOUT</a></button>
          <button  class="button" id="instruction_button" name="home"><a href="/hinstruction">INSTRUCTIONS</a></button>
        </div>
      </div>
</body>
</html>


<script>
  var myAudio = document.getElementById("myAudio");
  myAudio.volume=0.6;
  // var isPlaying = true;
  // var icon = document.getElementById("icon");
  
  // function togglePlay() {
  // //   isPlaying ? myAudio.pause() : myAudio.play();
  //   if(isPlaying==true){
  //     myAudio.pause()
  //     icon.innerHTML="volume_off"
  //   }
  //   else{
  //       myAudio.play()
  //       icon.innerHTML="volume_up"
  //   }
  // };
  
  // myAudio.onplaying = function() {
  //   isPlaying = true;
  // };
  // myAudio.onpause = function() {
  //   isPlaying = false;
  // };
  
      </script>