<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instructions- Territory Conquest</title>
    <link rel="stylesheet" href="/css/instructionpage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=MedievalSharp&family=Rye&display=swap" rel="stylesheet">
</head>
<body scroll="no" style="overflow: hidden">
    <div class="music" style="visibility: hidden; z-index: -1; height: 1px;">
        <embed src="/img/Blackbeard.mp3" AutoPlay loop hidden>
      </div>
    <div class="instruction" id="instruction">
        <h1>Instructions</h1>
        <ol style="padding: 30px;">
          <li>The map shown on the screen will consist of 10 territories. </li><br>
          <li>The army size of each territory is mentioned below its name, on the map.</li><br>
          <li>Initially, you are given an army of size 500, and you have to find a suitable territory to attack. Remember you can only conquer a territory whose army size is less than or equal to the size of your existing army.</li><br>
          <li>To conquer a territory, you need to click on it and solve the given question.</li><br>
          <li> If you solve it successfully then half of that country's troops get added to your own army size.</li><br>
          <li> In case you fail to solve the question, your army size will decrease by 100.</li><br>
          <li>You must keep in mind that you can only attempt to conquer a particulat territory ONCE.</li><br>
          <li> Also, you will be provided with 3 bonus questions throughout the game. 100, 150 and 200 troops are added by Bonus 1, 2 and 3 respectively.</li><br>
          <li>No troops will be taken away if you solve the bonus questions incorrectly.</li><br>
          <li>Each question has to be solved within a given time limit. The entire game will not run longer than 2.5 hours.</li><br>
          <li>Remember the winning criteria are the maximum number of territories conquered and the final size of your army.</li><br>
        </ol>
      <button type="button" class="home_button"><a href="/">HOME</a></button>
      </div>
</body>
</html>
