<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instructions- Territory Conquest</title>
    <link rel="stylesheet" href="/css/instructionpage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=MedievalSharp&family=Rye&display=swap" rel="stylesheet">
</head>
<body scroll="no" style="overflow: hidden">
    <div class="music" style="visibility: hidden; z-index: -1; height: 1px;">
        <embed src="/img/Blackbeard.mp3" AutoPlay loop hidden>
      </div>
    <div class="instruction" id="instruction">
        <h1>Instructions</h1>
        <ol style="padding: 50px;">
        <li>The entire game comprises of various levels starting with level 0 and there are total 10 territories. </li>
        <li>Level 0  has 3 territories unlocked and you can choose to attack any territory among them. And after conquering level 0  territories your way to further level territories will be unlocked.</li>
        <li>Initially, you are given with 500 troops, and you have to find a suitable territory to attack ; the territory whose minimum troops requirement is satisfied.</li>
        <li>In case you fail to do so, your army size will decrease by 100.</li>
        <li>Also, you will be provided with 3 bonus questions throughout the game.Each adding to a 100 troop</li>
        <li>And before starting, remember the winning criteria is maximum number of territories conquered and size of army.</li>
      </ol>
      <button type="button" class="home_button"><a href="/">HOME</a></button>
      </div>
</body>
</html>
