<!doctype html>
<html>
<head>
  </script>
  <div id="container" touch-action="none"></div>
  <script src="https://kit.fontawesome.com/18c50bfb2f.js" crossorigin="anonymous"></script>
  <title>LoginPage- Territory Conquest</title>
  <link rel="stylesheet" href="/css/loginpage.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=MedievalSharp&family=Rye&display=swap" rel="stylesheet">
</head>
<body>
  <div class="music" style="visibility: hidden; z-index: -1; height: 1px;">
    <embed src="/img/Blackbeard.mp3" AutoPlay loop hidden>
  </div>
  <form action="/login" method="post">
  <div class="container">
    <h1>LOGIN</h1>
    <div class="box">
      <i class="fa fa-user"></i>
      <input type="username" name="username" id="username" placeholder="Enter Your Username">
    </div>

    <div class="box">
      <i class="fa fa-key"></i>
      <input type="password" name="password" id="password" placeholder="Enter Your Password">
    </div>
    <button class="btn">Sail</button>
  </div>
</form>
  
</body>
</html>