* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }

  body {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../img/aboutbg.jpg');
    background-size: contain;
    background-repeat: no-repeat;
  }

.about {
    border: 30px;
    border-width: 0px;
    border-style: solid;
    margin: 0px 400px 400px 0px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 80px 40px 40px;
    border-color: white;
    background-image: url('../img/scroll.png'); 
    background-size: 100% 100%;
      word-wrap: break-word;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    width: 700px;
    height: 350px;
    text-align: center;
    padding: 40px;
  }
  .about h1 {
    font-family: 'Rye', 'cursive';
    color: blanchedalmond;
    font-size: 3.5rem;
    margin-bottom: 12px;
  }
  .about h2 {
    font-family: 'MedievalSharp', 'cursive';
    font-size: 2rem;
    color: #fffcdc;
  }
  .about h3 {
    font-family: 'MedievalSharp', 'cursive';
    font-size: 1.5rem;
    color: #fffcdc;
  }

  /* Home Button */
  .home_button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 20%;
    font-family: 'rye', 'cursive';
    font-size: 1.2rem;
    background-image: url(../img/redbutton.png);
    padding: 10px 20px;
    border-color: #FCC201;
    border-radius: 2px;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
  }
  .home_button a {
    text-decoration: none;
    position: relative;
    z-index: 2;
    color: whitesmoke;
    text-decoration: none;
  }
  .home_button:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #FCC201;
    transition: all 0.35s;
    border-radius: 2px;
  }
  .home_button:hover:after {
    width: 100%;
  }