*{
    margin: 0;
    padding: 0;
    overflow: hidden;   
}
body{
    background: url(../img/loginbg.jpg) ;
    background-size: cover;
    background-blend-mode: lighten; 
}
.container {
    position: absolute;
    top: 15%;
    left: 60%; 
    z-index: 1;  
    border-style: initial;
    display: inline-block;   
}
.container h1{
    border-bottom: 5px initial rgb(139, 90, 81);
    width: 70%;
    font-size: 50px;
    font-family: 'Rye', 'cursive';
    display: inline-block;
    text-align: center;
    left: 20%;
    margin-bottom: 25px;
    padding: 15px 45px;
    color: beige;
    border-bottom: darkolivegreen;
}
.box {
   width: 100%;
   margin: 20px 20px;
   border-style: 20px 25px inset;
   border-radius: 10px;
   border: 1px solid rgb(23, 23, 26);
   opacity: 1; 
}
.box input {
    background: none;
    width: 75%;
    margin: 10px 0px;
    padding: 15px 25px;
    font-size: 25px;
    color: beige;
    font-family: 'MedievalSharp', cursive;
    border: initial;
    outline: none;
    font-weight: bold;
    border-bottom: rgb(51, 1, 1); 
}
.box i {
    width: 35px;
    text-align: center;
    color: rgb(43, 1, 1);
    font-weight: bold;
    outline: black;  
}
.btn {
    cursor: pointer;
    outline: none;
    margin: 18px 10px;
    padding: 10px 21px;
    border-radius: 15px;
    font-size: 25px;
    color: beige;
    font-family: 'Rye', 'cursive';
    font-weight: bold;
    opacity: 1;
    text-align: center;
    position: relative;
    top: 110%;
    left: 38%;
    background: none;
}